
<head>
    <script src="/p5/p5.min.js"></script>
    <script src="/p5/p5.dom.min.js"></script>
    <script src="/p5/p5.sound.min.js"></script>
    <script src="/spaceshooter/spaceshooter.js"></script>
    <script src="/spaceshooter/star.js"></script>
    <script src="/spaceshooter/bullet.js"></script>
    <script src="/spaceshooter/bonus.js"></script>
    <script src="/spaceshooter/spaceship.js"></script>
    <script src="/spaceshooter/enemy.js"></script>
    <script src="/spaceshooter/enemy-bullet.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <meta charset="utf-8">
</head>
<body>

    <div class="container">
      <h1>Space Shooter Game</h1>
      <p>Testing for Skedadle</p>
    </div>
    <div id="sketch-holder" class="container">
      <!-- sketch will go here! -->
    </div>
</body>
